# This is a configuration file for ProGuard.
# http://proguard.sourceforge.net/index.html#manual/usage.html


# The remainder of this file is identical to the non-optimized version
# of the Proguard configuration file (except that the other file has
# flags to turn off optimization).

-dontusemixedcaseclassnames
-verbose
-dontobfuscate
-keepattributes *Annotation*

# For native methods, see http://proguard.sourceforge.net/manual/examples.html#native
-keepclasseswithmembernames class * {
    native <methods>;
}

-keep class * extends com.github.k1rakishou.kurobaexlite.ui.helpers.base.ComposeScreen {
    <init>(*,*,*);
}

# keep setters in Views so that animations can still work.
# see http://proguard.sourceforge.net/manual/examples.html#beans
-keepclassmembers public class * extends android.view.View {
   void set*(***);
   *** get*();
}

# Do not strip any method/class that is annotated with @DoNotStrip
-keep @com.github.k1rakishou.kurobaexlite.helpers.annotations.DoNotStrip class *
-keepclassmembers class * {
    @com.github.k1rakishou.kurobaexlite.helpers.annotations.DoNotStrip *;
}

# Keep everything related to mpv
-keep class com.github.k1rakishou.chan.core.mpv** { *; }

# We want to keep methods in Activity that could be used in the XML attribute onClick
-keepclassmembers class * extends android.app.Activity {
   public void *(android.view.View);
}

-keepclassmembers enum * { *; }

-keepclassmembers class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator CREATOR;
}

-keepclassmembers class **.R$* {
    public static <fields>;
}

# The support library contains references to newer platform versions.
# Don't warn about those in case this app is linking against an older
# platform version.  We know about them, and they are safe.
-dontwarn android.support.**

# OkHttp and LeakCanary
-dontwarn java.nio.**
-dontwarn javax.annotation.**
-dontwarn org.codehaus.mojo.**
# LeakCanary uses removed method (checks the API level)
-dontwarn com.squareup.leakcanary.DisplayLeakService
-dontwarn org.conscrypt.**

# Jsoup
-keeppackagenames org.jsoup.nodes

-keepclassmembers enum * { *; }
-keep class * extends androidx.room.RoomDatabase

-keep class kotlinx.coroutines.CoroutineExceptionHandler
-keep class kotlinx.coroutines.internal.MainDispatcherFactory

-dontwarn org.joda.convert.FromString
-dontwarn org.joda.convert.ToString